@use '../../styles/variables.scss' as var;

.cards-projects {
    background: var.$purBlack;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;

    article {
        color: var.$lightBlue;
        width: 100vw;
        height: 100vh;

        figure {
            position: relative;

            img {
                width: 100vw;
                height: 100vh;
                object-fit: cover;
            }

            figcaption {
                position: absolute;
                top: 0;
            }
        }
    }
}