@use './variables' as var;

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var.$global-font;
    scrollbar-width: thin;

    ::-webkit-scrollbar {
        width: 12px;

        &-track {
            background: var.$shadowBlue;
        }

        &-thumb {
            background: var.$lightPink;
            border-radius: 5px;

            &:hover {
                background: var.$colorFunction;
            }
        }
    }
}


body {
    overflow-x: hidden;

}