//fonts
@font-face {
    font-family: "neon";
    src: url('../assets/fonts/NEON____.TTF');
}

$global-font: "font-family: -apple-system,system-ui,BlinkMacSystemFont," Segoe UI",Roboto," Helvetica Neue",Arial,sans-serif ";
$neon-font: "neon";

//colors
$purBlack: #000000;
$purWhite: #ffffff;

//neon colors
$lightBlue: rgb(234, 253, 227);
$shadowBlue: rgb(33, 143, 181);
$lightPink: rgb(251, 248, 252);
$shadowPink: rgb(156, 84, 158);

//programmation colors
$colorFunction: #C678DD; // Violet pour les fonctions
$colorVariable: #E5C07B; // Jaune pour les variables
$colorString: #98C379; // Vert pour les chaînes de caractères
$colorKeyword: #61AFEF; // Bleu pour les mots-clés (if, for, return, etc.)
$colorComment: #7F848E; // Gris pour les commentaires
$colorType: #E06C75; // Rouge pour les types et les classes
$colorNumber: #D19A66; // Orange pour les nombres
$colorOperator: #56B6C2; // Cyan pour les opérateurs

:root {
    --pur-black: #000000;
    --pur-white: #ffffff;

    --light-blue: rgb(234, 253, 227);
    --shadow-blue: rgb(33, 143, 181);
    --light-pink: rgb(251, 248, 252);
    --shadow-pink: rgb(156, 84, 158);

    --color-function: #C678DD;
    --color-variable: #E5C07B;
    --color-string: #98C379;
    --color-keyword: #61AFEF;
    --color-comment: #7F848E;
    --color-type: #E06C75;
    --color-number: #D19A66;
    --color-operator: #56B6C2;
}