header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    nav {
        margin: 3rem;
    }

    button {
        margin: 3rem;
    }
}