@use '../../../styles/variables.scss' as var;
@import '../../../styles/keyframes.scss';

button {
    cursor: pointer;
    font-family: var.$neon-font;
    padding: 1.5rem 1.5rem;
    height: fit-content;
    background: none;
    border: 3px solid var.$lightBlue;
    box-shadow:
        0 0 10px var.$shadowBlue,
        0 0 20px var.$shadowBlue,
        0 0 30px var.$shadowBlue,
        0 0 40px var.$shadowBlue,
        inset 0 0 10px var.$shadowBlue,
        inset 0 0 20px var.$shadowBlue,
        inset 0 0 30px var.$shadowBlue,
        inset 0 0 40px var.$shadowBlue;
    ;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    color: rgb(231, 238, 240);
    font-size: 2rem;
    font-weight: 400;
    text-shadow:
        0 0 10px var.$shadowBlue,
        0 0 20px var.$shadowBlue,
        0 0 30px var.$shadowBlue,
        0 0 40px var.$shadowBlue;

    &:hover {
        color: var.$lightPink !important;
        text-shadow:
            0 0 10px var.$shadowPink,
            0 0 20px var.$shadowPink,
            0 0 30px var.$shadowPink,
            0 0 40px var.$shadowPink !important;
        box-shadow:
            0 0 10px var.$shadowPink,
            0 0 20px var.$shadowPink,
            0 0 30px var.$shadowPink,
            0 0 40px var.$shadowPink,
            inset 0 0 10px var.$shadowPink,
            inset 0 0 20px var.$shadowPink,
            inset 0 0 30px var.$shadowPink,
            inset 0 0 40px var.$shadowPink !important;
    }

    animation: neonFlickerButton 3s infinite;
}