@use '../../styles/variables.scss' as var;

.about {
    h1 {
        position: absolute;
        left: -9999px;
        top: -9999px;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    span.head-light {
        display: block;
        position: absolute;
        top: 55.5%;
        left: 50%;
        animation: headLight 1.2s infinite;
    }

    section {
        position: absolute;
        top: 55.5%;
        left: 50%;
        transform: translate(-50%, -45%) scale(1);
        animation: openSectionAPropos .5s forwards;

        pre {
            display: flex;
            gap: 20px;

            @media screen and (max-width: 1400px) {
                display: block;
            }

            .ide {
                width: 70%;

                @media screen and (max-width: 1400px) {
                    width: 100%;
                }
            }

            .console {
                width: 30%;

                @media screen and (max-width: 1400px) {
                    width: 100%;
                }
            }

            code {
                opacity: 0;
                display: inline;
                animation: textAparition .9s forwards;
                text-wrap: wrap;

                .code-color-purple {
                    color: var.$colorFunction
                }

                .code-color-yellow {
                    color: var.$colorVariable;
                }

                .code-color-blue {
                    color: var.$colorKeyword;
                }

                .code-color-red {
                    color: var.$colorType;
                }

                .code-color-orange {
                    color: var.$colorNumber;
                }

                .code-color-cyan {
                    color: var.$colorOperator;
                }

                .code-color-green {
                    color: var.$colorString;
                }

            }
        }
    }
}