@use '../../styles/variables.scss' as var;

.home {
    position: relative;
    perspective: 1000px;

    span.head-light {
        display: block;
        position: absolute;
        top: 55.5%;
        left: 50%;
        animation: headLight 1.2s infinite;
    }

    h1 {
        position: absolute;
        left: -9999px;
        top: -9999px;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }


    section {
        cursor: pointer;
        animation: neonFlicker 3s infinite;
        color: var.$lightBlue;
        position: absolute;
        transform-origin: center;
        text-align: center;
        border-radius: 5px;
        padding: 20px;
        border: 3px solid var.$lightBlue;
        backdrop-filter: blur(5px);
        background-color: rgba(var.$purBlack, $alpha: .2);
        box-shadow:
            0 0 10px var.$shadowBlue,
            0 0 20px var.$shadowBlue,
            0 0 30px var.$shadowBlue,
            0 0 40px var.$shadowBlue;
        text-shadow:
            0 0 10px var.$shadowBlue,
            0 0 20px var.$shadowBlue,
            0 0 30px var.$shadowBlue,
            0 0 40px var.$shadowBlue;

        h2 {
            @media screen and (max-width: 992px) {
                font-size: 1rem;

            }

            @media screen and (max-width:768px) {
                display: none;

            }
        }

        &:hover {
            color: var.$lightPink;
            box-shadow:
                0 0 10px var.$shadowPink,
                0 0 20px var.$shadowPink,
                0 0 30px var.$shadowPink,
                0 0 40px var.$shadowPink !important;
            text-shadow:
                0 0 10px var.$shadowPink,
                0 0 20px var.$shadowPink,
                0 0 30px var.$shadowPink,
                0 0 40px var.$shadowPink !important;
        }

        &.github {
            top: 70%;
            left: 25%;
            transform: translate(-50%, -50%)perspective(600px) rotateX(10deg) rotateY(60deg);
            animation-delay: 0.2s;

            @media screen and (max-width:768px) {
                left: 18%
            }
        }

        &.linkedin {
            top: 70%;
            left: 75%;
            transform: translate(-50%, -50%)perspective(600px) rotateX(10deg) rotateY(-60deg);
            animation-delay: 0.4s;

            @media screen and (max-width:768px) {
                left: 82%
            }
        }

        i {
            font-size: 4rem;
            color: var.$lightPink;
        }

    }

    a {
        transition: .1s;
        color: var.$lightPink;
        position: absolute;

        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        text-align: center;
        font-weight: 900;
        text-shadow:
            0 0 10px var.$shadowPink,
            0 0 20px var.$shadowPink,
            0 0 30px var.$shadowPink,
            0 0 40px var.$shadowPink;

        &:hover {
            transform: translate(-50%, -50%);
            animation: neonFlicker 3s infinite;
        }

        @media screen and (max-width: 576px) {
            width: 100%;
        }
    }

    a:nth-child(4) {
        top: 48%;
        left: 50%;

    }
}