@use '../../styles/variables.scss' as var;

.projects {

    h1 {
        position: absolute;
        left: -9999px;
        top: -9999px;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    span.head-light {
        display: block;
        position: absolute;
        top: 55.5%;
        left: 50%;
        animation: headLight 1.2s infinite;
    }

    section {
        position: absolute;
        top: 55.5%;
        left: 50%;
        transform: translate(-50%, -45%) scale(1);
        animation: showContainer .5s forwards;
        padding: 0 !important;

    }
}